#editing, #highlighting, #highlightingOriginal {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    margin: 10px;
    padding: 10px;
    border: 0;
    width: calc(100% - 32px);
    height: 150px;
}

#header_editing, #header_highlighting {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    margin: 10px;
    padding: 10px;
    border: 0;
    width: calc(100% - 32px);
    height: 150px;
}

#editing, #highlighting, #highlighting * ,#highlightingOriginal, #highlightingOriginal *{
    /* Also add text styles to highlighting tokens */
    font-size: 15pt;
    font-family: monospace;
    line-height: 20pt;
}

#header_editing, #header_highlighting, #header_highlighting * {
    /* Also add text styles to highlighting tokens */
    font-size: 15pt;
    font-family: monospace;
    line-height: 20pt;
}

#answerEditor {
    display: grid;
    position:relative;
    padding-bottom: 10px;
}

#header_answerEditor {
    display: grid;
    position:relative;
    padding-bottom: 10px;
}

#editing, #highlighting, #highlightingOriginal{
    overflow: auto;
    white-space: nowrap;
    grid-column: 1;
    grid-row: 1;
}

#header_editing, #header_highlighting {
    overflow: auto;
    white-space: nowrap;
    grid-column: 1;
    grid-row: 1;
}

#editing {

    z-index: 1;
    resize: none;
    width: 75%;
    height: 100%;
    overflow: hidden;
}

#header_editing {

    z-index: 1;
    resize: none;
    width: 75%;
    height: 100%;
    overflow: hidden;
}

#highlighting, #highlightingOriginal {
    overflow: hidden;
    z-index: 0;
    width: 75%;
    height: 100%;
}

#header_highlighting {
    overflow: hidden;
    z-index: 0;
    width: 75%;
    height: 100%;
}

#editing {
    color: transparent;
    background: transparent;
    caret-color: white;
}

#header_editing {
    color: transparent;
    background: transparent;
    caret-color: white;
}

#editing, #highlighting, #highlighting *, #highlightingOriginal, #highlightingOriginal * {
    tab-size: 2;
}

#header_editing, #header_highlighting, #header_highlighting * {
    tab-size: 2;
}